{% extends "shared/generic/generic_detail.html" %}
{% load i18n jalali_tags %}

{% block detail_sections %}
{{ block.super }}

{% if object.created_at or object.edited_at or object.created_by or object.edited_by %}
<div class="form-section">
  <h3>{% trans "Audit Information" %}</h3>
  <div class="form-row">
    {% if object.created_by %}
    <div class="form-field">
      <label>{% trans "Created By" %}</label>
      <div class="readonly-field">{{ object.created_by.get_full_name|default:object.created_by.username }}</div>
    </div>
    {% endif %}
    {% if object.created_at %}
    <div class="form-field">
      <label>{% trans "Created At" %}</label>
      <div class="readonly-field">{{ object.created_at|jalali_date:"%Y/%m/%d %H:%M" }}</div>
    </div>
    {% endif %}
    {% if object.edited_by %}
    <div class="form-field">
      <label>{% trans "Edited By" %}</label>
      <div class="readonly-field">{{ object.edited_by.get_full_name|default:object.edited_by.username }}</div>
    </div>
    {% endif %}
    {% if object.edited_at %}
    <div class="form-field">
      <label>{% trans "Last Updated" %}</label>
      <div class="readonly-field">{{ object.edited_at|jalali_date:"%Y/%m/%d %H:%M" }}</div>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
